## Data Science Tools and Ecosystem

In this notebook, we will be summarizing Data Science Tools and Ecosystem

**Objectives: 

A list of popular languages for Data Science

- Python

- R

- C++

- Scala

Here are some more languages that Data Scientists use:

1. JacaScript

2. VisualBasic

3. PHP

4. Julia

Here are some of the commonly used libraries used by Data Scientists:
    
1. ggplot

2. Pandas

3. NumPy

4. SciPy

| Data Science Tools |
------------------------
1. Jupyter Notebook
2. Watson Studio
3. Rstudio

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
(200/60)

3.3333333333333335

### Author 

Anas Haj Mahmoud